<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor='let slide of cardDetails'>
      <ion-card>
        <ion-card-header>
          <img [src]="slide.imgUrl" />
          <ion-card-subtitle>{{slide.header}}</ion-card-subtitle>
          <ion-card-title>{{slide.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>{{slide.content}}</ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor='let option of options'>
          <ion-toolbar>
            <ion-buttons slot="primary" class='ion-justify-content-center w-100 mr-0'>
              <ion-button color="secondary">
                <ion-icon slot="icon-only" [name]="option.icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>

          <!-- <button ion-button color="secondary" class='btn'>
            <ion-icon [name]="option.icon" class='btn-icon'></ion-icon>
            <ion-label class='ion-text-capitalize'>{{option.details}}</ion-label>
          </button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>